@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,500&family=Cabin+Sketch:wght@700&family=EB+Garamond:ital,wght@0,500;0,700;1,400&family=Henny+Penny&family=Lobster&family=Montserrat:wght@200&family=Poppins:wght@300&family=Righteous&family=Rubik+Iso&family=Yeseva+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: #fff;
    padding: 24px;
}
#navbar img {
    width: 200px;
}
#navbar #logo {
    margin-right: auto;
}
#navbar .cta-button {
    background-color: #fff;
    font-family: lobster, cursive;
    color: #e1a177;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#hero-1 {
    background-color: #e1a177;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-1 h2 {
    text-shadow: 2px 1px 2px #fff;
    font-family: lobster, cursive;
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color:#000;
}
#hero-1 h4 {
    font-size: 1.70vw;
    margin: 0px 5vw 0px 0px;
    color: #000;
    display: block;
    text-align: center;
}
#hero-1 a {
    font-family: lobster, cursive;
    font-size: 1.90vw;
    display: inline-block;
    background-color: #000;
    border-radius: 25px;
    color: #e1a177;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}
.column img {
    border-radius: 14px;
}
.column {
    float: right;
    width: 20%;
    padding: 20px;
    font-family: lobster, cursive;
  }
  .column b {
    font-family: 'Montserrat', sans-serif;
  }
  .column h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 3px;
    background-color: #e1a177;
    padding: 5px;
    box-shadow: 1px 2px #888888;
  }
  .row::after {
    content: "";
    clear: both;
    display: block;
  }

#footer {
    background: #000;
    color: #e1a177;
    padding: 12px;
}
#footer a {
    text-decoration: none;
    color: #fff;
}
#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}
#footer-columns-navbar a {
    padding: 8px 0px;
}
.center-column {
    width: 50%; 
    min-width: 500px;
    margin: 0px auto; 
}
#main {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 24px;
    width: 600px;
    height: 700px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #e1a177;
}

.card img {
    width: 99%;
    height: 400px;
    object-fit: cover;
}
.card h2 {
    font-family: lobster, cursive;
    font-size: 36px;
    margin-top: 5px;
    display: block;
    text-align: center;
}
.card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: block;
    text-align: center;
}

.anchor-button {
    display: block;
    background-color: #e1a177;
    font-family: lobster, cursive;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition:
        background-color .5s,
        color .5s;
}
.anchor-button:hover {
    background-color: transparent;
    color: #e1a177;
}
.card2 {
    margin: 24px;
    width: 190px;
    height: 270px;
    border: 2px solid #ffe4da;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -4px 4px 12px #e1a177;
}

.card2 img {
    display: flex;
    justify-content: center;
    margin: 0 0 0 38px;
    width: 50%;
    height: 100px;
    object-fit: cover;
}
.card2 h2 {
    font-family: lobster, cursive;
    font-size: 20px;
    margin-top: 5px;
    display: block;
    text-align: center;
}
.card2 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    display: block;
    text-align: center;
}
.anchor-button-2 {
    display: block;
    background-color: #000;
    font-family: lobster, cursive;
    color: #e1a177;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    border-radius: 70px;
    transition:
        background-color .5s,
        color .5s;
}
.anchor-button-2:hover {
    background-color: transparent;
    color: #e1a177;
}
#image img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 227px;
    width: 300px;
    height: 50%;
}
#image h2 {
    display: block;
    text-align: center;
    font-family: lobster, cursive;
}
#image2 img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 227px;
    width: 300px;
    height: 50%;
}
#image2 h2 {
    display: block;
    text-align: center;
    font-family: lobster, cursive;
}
