@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,500&family=Cabin+Sketch:wght@700&family=EB+Garamond:ital,wght@0,500;0,700;1,400&family=Henny+Penny&family=Lobster&family=Montserrat:wght@200&family=Poppins:wght@300&family=Righteous&family=Rubik+Iso&family=Yeseva+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Yeseva One', cursive;
}

#navbar {
    background: linear-gradient(to bottom, #F2AA80, #F27244);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 24px;
}
#navbar img {
    width: 200px;
}
#navbar #logo {
    margin-right: auto;
}
#navbar .cta-button {
    background-color: whitesmoke;
    color: #592B1B;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#navbar-bottom {
    background: #592B1B;
    display: flex;
    justify-content: space-between;
}
#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#hero-2 {
    background-image: url(../images/back01.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #F27244;
    text-shadow: -1px 1px 2px #091140;
}
#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: #592B1B;
    text-shadow: -1px 1px 2px #F27244;
}
#hero-2 a {
    font-size: 1.75vw;
    display: inline-block;
    background-color: #592B1B;
    border-radius: 25px;
    color: #F2AA80;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#header {
    position: sticky;
    top: 0px;
}

#footer {
    background: linear-gradient(to bottom, #F27244,#F2AA80);
    color: #592B1B;
    padding: 12px;
}
#footer a {
    text-decoration: none;
    color: #592B1B;
}
#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}
#footer-columns-navbar a {
    padding: 8px 0px;
}

.single-column {
    width: 50%;
    min-width: 500px;
    max-width: 1200px;
    margin: auto;
}
.single-column h3 {
    text-decoration: none;
    color: #F27244;
    background-color: #592B1B;
    border-radius: 6px;
    padding: 12px 36px;
    display: inline-block;

}
.light-container {
    padding: 48px 0px;
}
.dark-container {
    color: #592B1B;
    padding: 48px 0px;
}
.vertical-masonry-gallery {
    columns: 3 auto;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 1rem;
}