/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-1 {
   max-width: 350px;
    box-shadow: 4px 4px 8px #00000088;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: mintcream;
    min-width: 350px;
}

#trek-card-1 img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
#trek-card-2 img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
#trek-card-3 img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
#trek-card-4 img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.anchor-button {
    display: block;
    background-color: green;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 3px solid green;
    transition: 
    background-color .5s,
    color .5s;
}

