@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,500&family=Cabin+Sketch:wght@700&family=EB+Garamond:ital,wght@0,500;0,700;1,400&family=Henny+Penny&family=Lobster&family=Montserrat:wght@200&family=Poppins:wght@300&family=Righteous&family=Rubik+Iso&family=Yeseva+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Abril Fatface', cursive;
    background-image: url(../images/background02.jpeg);
}

#navbar {
    background: linear-gradient(to left, #F2BE7E, #D9763D);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: #F2BE7E;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

.dropdown-container:last-child .dropdown {
    right: 0px;
}

.dropdown a {
    background-color: #F2BE7E;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown a:hover {
    background: #D9763D;
}

#hero {
    width: 100%;
    height: 650px;
    background: url(../images/happypup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 400px;
    object-fit: cover;
}

#container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
}

.card {
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #D9763D ;
}

.name {
    font-size: 34px;
    color: #D9763D;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

p {
    font-size: 14px;
    line-height: 150%;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #D9763D;
    background-color: bisque;
    margin: 0 auto;
    display: block;
    transition: all 200ms ease-in-out;
}
button:hover {
    background-color: #D9763D;
    color: whitesmoke;
}
#container2 {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
}

.card2 {
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #D9763D ;
}
#container3 {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
}

.card3 {
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #D9763D ;
}