* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#names {
    display: flex;
    justify-content: center;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

#card1 {
    position: relative;
    border: 0px;
    padding: 0px;
}
#card1 a {
    color: #346173;
    border: 3px solid #346173;
}
#card1 .card-front, #card1 .card-back {
    border: 1px solid #346173;
    border-radius: 12px;
    padding: 24px;
}
#card1 .card-back {
    transform: scaleX(0);
}
#card1 .card-front {
    background-image: url(../images/blue01.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#card1 .card-front {
    transition: transform 0.25s;
}
#card1 .card-back {
    transition: transform 0.25s 0.25s;
}
#card1:hover .card-front {
    transform: scaleX(0);
}
#card1:hover .card-back {
    transform: scaleX(1);
    color: #346173;
}

#card2 {
    position: relative;
    border: 0px;
    padding: 0px;
}
#card2 a {
    color: #346173;
    border: 3px solid #346173;
}
#card2 .card-front, #card1 .card-back {
    border: 1px solid #346173;
    border-radius: 12px;
    padding: 24px;
}

#card2 .card-back {
    transform: scaleX(0);
}
#card2 .card-front {
    background-image: url(../images/blue02.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#card2 .card-front {
    transition: transform 0.25s;
}
#card2 .card-back {
    transition: transform 0.25s 0.25s;
}
#card2:hover .card-front {
    transform: scaleX(0);
}
#card2:hover .card-back {
    transform: scaleX(1);
    color: #346173;
}

#card3 {
    position: relative;
    border: 0px;
    padding: 0px;
}
#card3 a {
    color: #346173;
    border: 3px solid #346173;
}
#card3 .card-front, #card1 .card-back {
    border: 1px solid #346173;
    border-radius: 12px;
    padding: 24px;
}
#card3 .card-back {
    transform: scaleX(0);
}
#card3 .card-front {
    background-image: url(../images/blue03.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#card3 .card-front {
    transition: transform 0.25s;
}
#card3 .card-back {
    transition: transform 0.25s 0.25s;
}
#card3:hover .card-front {
    transform: scaleX(0);
}
#card3:hover .card-back {
    transform: scaleX(1);
    color: #346173;
}

#card4 {
    position: relative;
    border: 0px;
    padding: 0px;
}
#card4 a {
    color: #346173;
    border: 3px solid #346173;
}
#card4 .card-front, #card1 .card-back {
    border: 1px solid #346173;
    border-radius: 12px;
    padding: 24px;
}
#card4 .card-back {
    transform: scaleX(0);
}
#card4 .card-front {
    background-image: url(../images/blue04.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#card4 .card-front {
    transition: transform 0.25s;
}
#card4 .card-back {
    transition: transform 0.25s 0.25s;
}
#card4:hover .card-front {
    transform: scaleX(0);
}
#card4:hover .card-back {
    transform: scaleX(1);
    color: #346173;
}

#card5 {
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
        border: 3px solid #BF946F;
}
#card5 a {
    color: #BF946F;
    border: 1px solid #BF946F;
}
#card5:hover a {
    color: #593E25;
}
#card5 h2 {
    color: #593E25;
}
#card5 .card-content {
    color: #593E25;
}
#card5:hover {
    background-image: url(../images/white02.jpg);
    box-shadow: 10px 10px 10px #00000033;
    transform: translateY(-8px);
}

#card6 {
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
        border: 3px solid #BF946F;
}
#card6 a {
    color: #BF946F;
    border: 1px solid #BF946F;
}
#card6:hover a {
    color: #593E25;
}
#card6 h2 {
    color: #593E25;
}
#card6 .card-content {
    color: #593E25;
}
#card6:hover {
    background-image: url(../images/white.jpg);
    box-shadow: 10px 10px 10px #00000033;
    transform: translateY(-8px);
}

#card7 {
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
        border: 3px solid #BF946F;
}
#card7 a {
    color: #BF946F;
    border: 1px solid #BF946F;
}
#card7:hover a {
    color: #593E25;
}
#card7 h2 {
    color: #593E25;
}
#card7 .card-content {
    color: #593E25;
}
#card7:hover {
    background-image: url(../images/cc11c0627f36a70f3dddf35806b7a3d4.jpg);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card8 {
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
        border: 3px solid #BF946F;
}
#card8 a {
    color: #BF946F;
    border: 1px solid #BF946F;
}
#card8:hover a {
    color: #593E25;
}
#card8 h2 {
    color: #593E25;
}
#card8 .card-content {
    color: #593E25;
}
#card8:hover {
    background-image: url(../images/marble.jpg);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card9 {
    position: relative;
    background-color: #E66C93;
    border: 4px solid bisque;
}
#card9 a {
    color: black;
    border: 3px solid #E66C93;
}
#card9 a:hover {
    color: #E66C93;
}
#card9 .card-content {
    position: absolute;
    background-color: bisque;
    border: 2px solid #E66C93;
    box-shadow: 4px 4px 4px #00000033;
    border-radius: 40px;
    left: 0px;
    margin: 0px 24px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 1s,
        visibility 1s,
        transform 1s;
}
#card9:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#card10 {
    position: relative;
    background-color: #F25C05;
    border: 4px solid bisque;
}
#card10 a {
    color: black;
    border: 3px solid #F25C05;
}
#card10 a:hover {
    color: #F25C05;
}
#card10 .card-content {
    position: absolute;
    background-color: bisque;
    border: 2px solid #F25C05;
    box-shadow: 4px 4px 4px #00000033;
    border-radius: 40px;
    left: 0px;
    margin: 0px 24px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 1s,
        visibility 1s,
        transform 1s;
}
#card10:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#card11 {
    position: relative;
    background-color: #BF308d;
    border: 4px solid bisque;
}
#card11 a {
    color: black;
    border: 3px solid #BF308D;
}
#card11 a:hover {
    color: #BF308D;
}
#card11 .card-content {
    position: absolute;
    background-color: bisque;
    border: 2px solid #BF308D;
    box-shadow: 4px 4px 4px #00000033;
    border-radius: 40px;
    left: 0px;
    margin: 0px 24px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 1s,
        visibility 1s,
        transform 1s;
}
#card11:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#card12 {
    position: relative;
    background-color: #D92B04;
    border: 4px solid bisque;
}
#card12 a {
    color: black;
    border: 3px solid #D92B04;
}
#card12 a:hover {
    color: #D92B04;
}
#card12 .card-content {
    position: absolute;
    background-color: bisque;
    border: 2px solid #D92B04;
    box-shadow: 4px 4px 4px #00000033;
    border-radius: 40px;
    left: 0px;
    margin: 0px 24px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 1s,
        visibility 1s,
        transform 1s;
}
#card12:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}